@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Travel and Tourism ltd.</h1>
    <p><strong>Travel not to escape life, but so life doesn't escape you.</strong></p>
    <div><img src="~/Images/beautiful-rain-forest-ang-ka-nature-trail-doi-inthanon-national-park-thailand-36703721.jpg"/></div>

</div>
