@model Core_Auth.Models.Spot

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4 class="alert alert-heading">Spot</h4>
    <hr />
    <dl class="row table table-bordered text-primary">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpotName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpotName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SpotId" class="btn btn-success">Edit</a> <br />
    <a asp-action="Index" class="text-decoration-none">Back to List</a>
</div>
